body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.ribbon {
    /* position: -webkit-sticky; */
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;

    height: 60px;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    opacity: 95%;
    backdrop-filter: blur(100px);
}

.ribbon img {
    height: 40px;
    width: 70px;


}

.row {
    padding-top: 70px;
    justify-content: space-between;
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
    box-sizing: border-box;
    text-align: center;
    display: flex;

    flex-direction: row;
}

.row a {

    text-decoration: none;
    color: black;
}

.row h1 {
    font-size: 17px;
    word-spacing: 2px;

}

.rowpage {
    /* z-index: 90; */
    position: absolute;
    top: 60px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}


.rowpage img {
    height: 55px;
    width: 55px;
}

.rowpage a {
    text-decoration: none;
    color: black;
}

.rowpage h1 {
    font-size: 17px;

}

.intro {
    padding-top: 30px;
}

.intro video {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.intro h2 {
    position: absolute;
    font-size: 35px;
    transform: translate(-50%, -50%);
    left: 37.5%;
    top: 47.5%;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: #c6c6c6;
}

.feature {
    flex: 1;
    margin: 10px;
    height: 30vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.feature a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #333;
}

.feature h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.feature p {
    text-align: center;
    font-size: 1.2rem;
    padding: 0 20px;
}

footer {
    background-color: #f0f0f0;
    padding: 20px 0;
}

.social-links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;

}

.social-links a {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-links img {
    height: 30px;
    width: 30px;
    padding-left: 10%;
    padding-right: 10%;
}


.sectionmap {
    position: absolute;
    top: 120px;
}

/* .mapa {
    align-items: center;
    z-index: 90px;
    top: 120px;
} */

.mapa video {
    width: 100%;
    height: 100%;
    top: 120px;
}

.ARTABONE {
    flex: 1;
    margin: 20px;
    height: 80vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.ARTABONE a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #333;
}

.ARTABONE h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}