body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.ribbon {
    /* position: -webkit-sticky; */
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    background-color: rgb(139, 139, 139);
    height: 60px;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    backdrop-filter: blur(30px);
}

.ribbon img {
    height: 40px;
    width: 70px;


}

.row {
    z-index: 90;
    position: absolute;
    top: 60px;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-left: 35%;
    padding-right: 35%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.row a {
    text-decoration: none;
    color: black;
}

.row h1 {
    font-size: 17px;

}

.rowpage {
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;

}

.rowpage img {
    height: 60px;
    width: 60px;
}

.rowpage a {
    text-decoration: none;
    color: black;
}

.rowpage h1 {
    font-size: 17px;

}

.intro {
    position: relative;
}

.intro video {
    height: 100%;
    width: 100%;
    object-fit: contain;

}

.intro h2 {
    position: absolute;
    font-size: 35px;
    transform: translate(-50%, -50%);
    left: 37.5%;
    top: 47.5%;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: #c6c6c6;
}

.feature {
    flex: 1;
    margin: 10px;
    height: 30vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.feature a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #333;
}

.feature h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.feature p {
    text-align: center;
    font-size: 1.2rem;
    padding: 0 20px;
}

footer {
    background-color: #f0f0f0;
    padding: 20px 0;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links a {
    margin: 0 10px;
}